:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --main-text-font-weight: 700;
  --main-title-font-weight: 900;
  --main-text-color: #757575;
  --main-background: #FFFFFF;
  --title-line-hight: 36px
}
body{
    font-weight: 700;
    font-family: var(--font-family);
    color: #212121;
    font-size: 16px;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 94px;
}
.container1{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
/* header */
header{
    background-color: #ECECEC;
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo{
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196f3;
}
.studio{
    color: #000;
}
.nav-list-link{
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-list-link:hover{
    color: #2196f3;
}
.contact{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
}
.contact:hover{
       color: #2196f3;
}
/* main */
.filter-list-link{
   font-weight: 500;
   font-size: 16px;
   line-height: 162%;
   letter-spacing: 0.03em;
   text-align: center;
   color: #212121;
}
.articlr-list-card{
    width: 370px;
    height: 404px;
}
.article-list-img{
    width: 370px;
    height: 294px;
}
.article-list-title{
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
}
.article-list-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.03em;
    color: #757575;
}
/* footer */
footer{
 background-color: #2F303A;
 padding-top: 60px;
 padding-bottom: 60px;
}
.studio1{
    color: #fff;
}
.oficce-address{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #fff;
}
