header{
    background-color: #FFFFFF;
}
.logo {
    color: #2196F3;
}
span{
    color: #000000;
}

.card{
    color: #EEEEEE;
}
.title{
    color: #212121;
}
.text{
    color: #757575;
}



footer{
    background-color: #2F303A;
}
.logo1{
    color: #ffffff;
}
.contact{
    color: #FFFFFF60;
}
.oficceaddress{
    color: #FFFFFF;
}
