header{
    background-color: #FFFFFF;
}
.logo {
    color: #2196F3;
}
span{
    color: #000000;
}



body{
    color: #FFFFFF;
}





footer{
    background-color: #2F303A;
}
.contact{
    color: #FFFFFF60;
}
.oficceaddress{
    color: #FFFFFF;
}




