:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --main-text-font-weight: 700;
  --main-title-font-weight: 900;
  --main-text-color: #212121;
  --main-background: #FFFFFF;
}
body{
    font-family: var(--font-family);
    color: var(--main-text-color);
    font-weight: var(--main-text-font-weight);
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.work , .special , .effecity , .special{
    margin-bottom: 94px;
}
.work-list , .team-list , .special-list{
    display: flex;
    margin: 0px;
    padding: 0px;
    column-gap: 20px;
    column-gap: 30px;
}
.header-position{
    display: flex;
    align-items: center;
}
/* header */
header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo{
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196f3;
}
.studio{
    color: #000;
}
.nav-list{
    margin-left: 93px;
}
.nav-list-link{
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-list{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}
.contact-list{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}
.nav-list-link:hover{
    color: #2196f3;
}
.contact-list{
  margin-left: 318px
}
.contact, .contact-email, .contact-tel{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
}
.contact-tel:hover .icon-smartphone{
    fill: #2196f3;
}
.icon-smartphone{
    fill: #757575;
}
.contact-email:hover .icon-envelope{
    fill: #2196f3;
}
.icon-envelope{
    fill: #757575;
}
.contact-email:hover, .contact-tel:hover{
    color: #2196f3;
}
.contact:hover{
       color: #2196f3;
}
/* main */
.effecity-position{
     display: flex;
    flex-direction: column;
    align-items: center;
}
.effecity{
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../images/overlay.png), url(../images/heros.png);
    background-repeat: no-repeat;
    background-position: center;
}
.effecity-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff; 
}
.order{
    border-radius: 4px;
    width: 216px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2196f3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
}
.special-title{
    display: none;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.special-list-item:nth-child(1):before{
    content: '';
    display: block;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-image: url(../images/antena.png);

}
.special-list-item:nth-child(2):before{
    content: "";
    display: block;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-image: url(../images/clock.png);
}
.special-list-item:nth-child(3):before{
    content: '';
    display: block;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-image: url(../images/graph.png);
}
.special-list-item:nth-child(4):before{
    content: '';
    display: block;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-image: url(../images/astronaut.png);
}
 .special-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
 }
.work-title{
    font-weight: 700;
   font-size: 36px;
   letter-spacing: 0.03em;
   text-align: center;
   margin-bottom: 50px;
}
.team{
 background-color: #F5F4FA;
 padding-top: 94px;
 padding-bottom: 94px;
}
.team-list-item{
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.team-title{
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}
.team-list-img{
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
}
.team-list-title{
 font-weight: 500;
 font-size: 16px;
 letter-spacing: 0.03em;
 text-align: center;
 margin-bottom: 10px;
}
.team-list-text{
 font-weight: 400;
 font-size: 16px;
 letter-spacing: 0.03em;
 text-align: center;
 color: #757575;
 margin-bottom: 16px;
}
.team-social-list{
    display: flex;
    justify-content: center;
}
.team-social{
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin-left: 10px;
    margin-bottom: 30px;
}
.team-social:hover{
    background-color: #2196F3;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.team-icon{
   padding: 12px;
   fill: #AFB1B8;
   width: 44px;
   height: 44px;
   
}
.team-icon:hover{
   padding: 12px;
   fill: #fff;
   width: 44px;
   height: 44px;
}
/* Клієнти */
.custumers-list{
    display: flex;
    justify-content: center;
}
.title-custumers{
    margin-top: 94px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}
.icon-custumers{
   width: 170px;
   height: 92px;
   margin-top: 50px;
   margin-left: 30px;
   margin-bottom: 94px;
    fill: #AFB1B8;
   border: 1px solid #AFB1B8;
   border-radius: 2px;
}
.icon-custumers:hover{
    fill: #2196f3;
    border: 1px solid #2196f3 ;
}
/* footer */
 footer{
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
 }
 .footer-position{
    display: flex;
    align-items: center;
 }
 .footer{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.address-position{
    margin-top: 20px;
}
.address-link{
    margin-top: 9px;
}
.studio1{
    color: #fff;
    margin-bottom: 20px;
}
.oficce-address{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #fff;
}
.social-section{
    margin-left: 70px;
    height: 80px;
    width: 206px;
}
.social-list{
    display: flex;
}
.social-text{
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
}
.footer-circle{
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.1);
   width: 44px;
   height: 44px;
   margin-right: 10px;
}
.footer-circle-twitter{
    border-radius: 50%;
    margin-right: 10px;
    background-color: #2196F3;
    width: 44px;
    height: 44px;
}
.icon-footer{
   padding: 12px;
   fill: #FFFFFF;
   width: 44px;
   height: 44px;
}
